<!DOCTYPE html>
<html>

<head>
    <title>Home page</title> 
    <!--this is the name the user will see on top of their browser-->
</head>
<body>

    <div class="head">
        <h1>The Archive</h1>
    </div>
        <!--this will the name for our web app-->

        
    <div class="welcome">
        <h2> <br>
        <strong>Welcome</strong> to The Archive for scholars.</h2>
        <br><br>
        <p>We are looking forward to meeting all your reading needs.</p>
        <!--the above is the introduction to the user-->
    </div>

    <div class="about">
        <br>
        <p> This platform is an elite environment were scholars can learn, grow and develop new skill. </p>
        <br>
        <p>Students of all ages and cultuers are welcome here.</p>
        <p>we hope you enjoy your stay.</p>
        <!--this tries to explain a bit about us-->
    </div>


    <div class="type">
        <br>
        <h2>Reading Starts Here!!</h2>
    </div>
    <form action="#" method="POST">
        <div class="account_type">
            <a href="sign_in.html">Sign in</a>
            <!--this will be for the student who wants to sign up-->
        </div>
        <br>
        <div class="account_type">
            <a href="account_sign up.html">Create Account</a>
            <!--this will be for the librarian-->
        </div>
    </form>
    
</body>

</html
