<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home page</title> 
    <meta name="viewport" content="with= device-width, intial-scale=1.0"> 
    <link rel="stylesheet" href="home.css">
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>
<body>
    <div class="home">
        <div class="header">
            <h1 class="name">The Archive</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">testimines</a></li>
                <!--to add other relevant information soon-->
            </ul>
        </div>    
        <div class="welcome">
            <h1> <br>
            <strong>Welcome</strong> to The Archive </h1>
            <p>We are looking forward to meeting all your reading needs.<br>we hope you enjoy your stay.</p>
            <h2>***Reading Starts Here***</h2>
        </div>
        <form action="#" method="POST">
            <div class="account_type">
                <button><a href="sign_in.html">Sign in</a></button>
                <button><a href="account_sign up.html">Create Account</a></button>
            </div>
        </form>               
    </div>
</body>
</html
