
.home{
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(1.jpg);

}
.name{
    color:#009688;
}
.header{
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}
.header ul li a{
    text-decoration:none ;
    color:blue;
    text-transform: uppercase;
}

.account_type {
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
}
.account_type a {
    color: #fff;
    display: inline-block;
    margin: 10px;
    padding: 0px;
    text-decoration: none;
}
p {
    margin: 0 auto;
    padding: 50px 50px;
    text-align: center;
    font-size:30px;
    color: #fff;
}
h2 {
    color:#fff;
    font-size: 30px;
    line-height: 100px;
    padding: 40px 30px;
    text-align: center;
}
h1 {
    padding: 0px;
    color:#fff;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;

}
.welcome h1{
    font-size:50px;
    margin-top:10px;
}
.welcome p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align:center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight:bold;
    background: transparent;
    border: 2px solid #009688;
    color: #fff;
    cursor: pointer;
    position: relative;
    font-size: 19px;

}
.btn:hover{
    color:#009688;

}