<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentSignup</title>
</head>
<body>
    <div>
        <p>
            <h1>
                WEB-LIBRARY MANAGEMENT SYSTEM
            </h1>
        </p>
    </div>

    <div>
            <h3>SIGN UP FOR A STUDENTS ACCOUNT</h3>
    </div>
</body>
<!--REQUIRED FIELDS-->
    <div>
        <label for="fname">FIRST NAME</label> <br>
        <input type="text" name="fname" id="fname" required placeholder="FIRST NAME"> <br>

        <label for="lname">LAST NAME</label> <br>
        <input type="text" name="lname" id="lname" required placeholder="LAST NAME"> <br>

        <label for="mail">EMAIL</label> <br>
        <input type="email" name="email" id="mail" required placeholder="username@email.com"> <br>

        <label for="dob">DATE-OF-BIRTH</label> <br>
        <input type="date" name="dob" id="dob" required placeholder=""> <br>

        <label for="pass">PASSWORD</label> <br>
        <input type="password" name="pass" id="pass" required placeholder="PASSWORD"> <br>
    </div>

    <!--ARE YOU MALE OR FEMALE?-->
    <div>
        <p>ARE YOU MALE OR FEMALE ?</p>

        <label for="male">MALE</label>
        <input type="radio" name="gender" id="male">

        <br>

        <label for="female">FEMALE</label>
        <input type="radio" name="gender" id="female">
    </div>
    
    <!--SUBMIT BUTTON-->
    <div>
        <button type="submit">SIGNUP</button>
    </div>
</html>