<!DOCTYPE html>
<html>
    <head>
        <title>STUDENT_REGISTRATION</title>
    </head>

    <body>
        <form>
            <label for="fname">FIRSTNAME</label><br>
            <input type="text" name="first_name" id="fname" placeholder="FIRST NAME"><br>
            <br>

            <label for="lname">LASTNAME</label><br>
            <input type="text" name="last_name" id="lname" placeholder="LAST NAME"><br>
            <br>

            <label for="mail">EMAIL</label><br>
            <input type="email" name="email" id="mail" placeholder="EMAIL ADDRESS"><br>
            <br>

            <label for="ps">PASSWORD</label><br>
            <input type="text" name="password" id="ps" placeholder="PASSWORD"><br>
            <br>

            <button type="submit">SIGN UP</button>

            
        </form>
    </body>
</html>