<!DOCTYPE html>
<html>

<head>
    <title>Home page</title> 
    <!--this is the name the user will see on top of their browser-->
</head>
<body>
    <section class="home">
        <div class="header">
            <h1>The Archive</h1>
            <!--this will the name for our web app--> 
            <img src="" class="web_logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">testimines</a></li>
                <!--to add other relevant information soon-->
            </ul>
            <div class="welcome">
                <h1> <br>
                <strong>Welcome</strong> to The Archive </h1>
                <p>We are looking forward to meeting all your reading needs.<br>we hope you enjoy your stay.</p>
                <h3>Reading Starts Here!!</h3>
            </div>
            <form action="#" method="POST">
                <div class="account_type">
                    <button><a href="sign_in.html">Sign in</a></button>
                    <!--this will be for the student who wants to sign up-->
                </div>
                <br>
                <div class="account_type">
                    <button><a href="account_sign up.html">Create Account</a></button>
                    <!--this will be for the librarian-->
                </div>
            </form>
        </div>               
    </section>
    <!--
                <p> This platform is an elite environment were scholars can learn, grow and develop new skill. </p>
                <br>
                <p>Students of all ages and cultuers are welcome here.</p>
                this tries to explain a bit about us-->
</body>

</html
